<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.carbonfootprint">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Carbonfootprint"
        tools:targetApi="31">

        <!-- SplashActivity as the launcher activity -->
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activities -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Carbonfootprint"
            android:exported="false" />

        <activity
            android:name=".Main1"
            android:exported="false" />

        <!-- Authentication Activities -->
        <activity
            android:name=".SignUpActivity"
            android:label="@string/sign_up_activity_label"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="false" />

        <activity
            android:name=".SignIn"
            android:exported="false" />

        <activity
            android:name=".OrganisationActivity"
            android:label="@string/organisation_activity_label"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="false" />

        <!-- Survey Activities -->
        <activity
            android:name=".TakeServey"
            android:exported="false" />

        <activity
            android:name=".HomeServey"
            android:exported="false" />

        <activity
            android:name=".TravelServey"
            android:exported="false" />

        <activity
            android:name=".FoodSurveyActivity"
            android:exported="false" />

        <activity
            android:name=".OthersSurveyActivity"
            android:exported="false" />

        <activity
            android:name=".Overall"
            android:exported="false" />

        <!-- Dashboard and Search -->
        <activity
            android:name=".DashBoard"
            android:exported="false" />

        <activity
            android:name=".SearchActivity"
            android:exported="false" />

        <!-- Action Activities -->
        <activity
            android:name=".ReduceF_waste"
            android:exported="false" />

        <activity
            android:name=".ShortWalkAction"
            android:exported="false" />

        <activity
            android:name=".BottolWater"
            android:exported="false" />

        <!-- Progress Tracking -->
        <activity
            android:name=".Progress"
            android:exported="false" />
        <activity android:name=".ReduceF_waste_Done" />
        <activity android:name=".ShortWorkActionDone" />
        <activity android:name=".Clean" />
        <activity android:name=".CleanDone" />
        <activity android:name=".BottolWaterDone" />
        <activity android:name=".connect" />
        <activity android:name=".Reward" />
        <activity android:name=".Reforest" />
        <activity android:name=".ReforestDone" />
        <activity
            android:name=".Habit"
            android:exported="false" />


    </application>

</manifest>